@model Vidyalaya.Models.Class
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="modal fade" id="Classes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Class</h5>
                <i style="font-size:24px" class="fa">&#xf00d;</i>
                </div>
                <div class="modal-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="SId" class="control-label"></label>
                        <input id="liWithID" asp-for="SId" class="form-control" value="" />
                       
                    </div>
                        <div class="form-group">
                            <label asp-for="CName" class="control-label"></label>
                            <input asp-for="CName" class="form-control" />
                            <span asp-validation-for="CName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CSubject" class="control-label"></label>
                            <input asp-for="CSubject" class="form-control" />
                            <span asp-validation-for="CSubject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CStandard" class="control-label"></label>
                            <input asp-for="CStandard" class="form-control" />
                            <span asp-validation-for="CStandard" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CRoomNo" class="control-label"></label>
                            <input asp-for="CRoomNo" class="form-control" />
                            <span asp-validation-for="CRoomNo" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" /> |  <a asp-action="Index">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
