@model Vidyalaya.Models.Teachers

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Teachers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TId" />
            <div class="form-group">
                <label asp-for="TName" class="control-label"></label>
                <input asp-for="TName" class="form-control" />
                <span asp-validation-for="TName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TSubject" class="control-label"></label>
                <input asp-for="TSubject" class="form-control" />
                <span asp-validation-for="TSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TStandard" class="control-label"></label>
                <input asp-for="TStandard" class="form-control" />
                <span asp-validation-for="TStandard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SId" class="control-label"></label>
                <input asp-for="SId" class="form-control" />
                <span asp-validation-for="SId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
