@model IEnumerable<Vidyalaya.Models.School>

@{
    ViewData["Title"] = "Index";
}
<div id="CreateContainer"></div>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<html>
<head>
</head>
<body>
    <table id="School_Table" width="100%" >
        <thead>
            <tr>
                <th>School Id</th>
                <th>School Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Satae</th>
                <th>Action</th>
                <th>Add</th>
            </tr>
        </thead >
        <tbody>

        </tbody>
    </table>
</body>
</html>
