@model IEnumerable<Vidyalaya.Models.Activities>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="Activities_Table">
    <thead>
        <tr>
            <th>School Id</th>
            <th>School Name</th>
            <th>Address</th>
        </tr>
    </thead>
</table>